[submodule "projects/practice_projects/deep-learning"]
	path = projects/practice_projects/deep-learning
	url = git@github.com:ArmandoHernandez/deep-learning.git
[submodule "aind2-cnn"]
	path = aind2-cnn
	url = git@github.com:ArmandoHernandez/aind2-cnn.git
